.alert-popover {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;

  z-index: 1000000;

  height: 250px;
  width: 300px;

  background-color: #FFF;
  border: solid 1px $color-border;
  border-radius: 6px;

  .alert-content {
    position: relative;
    height: 100%;

    padding: 30px;
  }

  .alert-icon {
    display: inline-block;

    color:orange;
    font-size: 36px;
  }

  .alert-description {
  }

  .alert-buttons {
    position: absolute;

    right: 30px;
    bottom: 30px;
  }

}

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;

  display:none; //hiding this for now

  z-index: 100000;
  height: 100%;
  width: 100%;

  background-color: #000;
}