//.btn-primary {
//  background-color: $primary-color;
//  font-size: 20px;
//  color: #FFFFFF;
//
//  &[disabled] {
//    background-color: $color-gray;
//    color: #95A5A6;
//  }
//}
//
//.btn-secondary {
//  border: 1px solid #4990E2;
//  border-radius: 5px;
//  font-size: 20px;
//  color: #4990E2;
//  background-color: transparent;
//
//  &[disabled] {
//    border-color: $color-gray;
//    color: #95A5A6;
//  }
//}

.btn-primary {
  font-size: 20px;
  color: #FFFFFF;

  &[disabled] {
    background-color: $color-gray;
    border-color: $color-gray;
    color: #95A5A6;
  }
}

.btn-secondary {
  border: 1px solid #4990E2;
  border-radius: 5px;
  font-size: 20px;
  color: #4990E2;
  background-color: $color-white;

  &[disabled] {
    border-color: $color-gray;
    color: #95A5A6;
  }
}

.list-select {
  background-color: red;
}

.highlight-item:hover {
  background-color: #337ab7;
}

.pass{
  color: #FFFFFF;
  background-color: $color-nephritis;
}

.fail{
  color: #FFFFFF;
  background-color: $color-carrot;
}

.danger{
  color: #FFFFFF;
  background-color: #ff0000;
}

.two-button-toggle {
  width: 100%;

  label {
    width: 50%;
  }
}

.label-success-maid{
  font-size: 17px;
  color: #FFFFFF;
  background-color: #5cb85c;

}

.label-danger-maid {
  font-size: 17px;
  color: #FFFFFF;
  background-color: #d9534f;

}