.container {
  max-width: 600px;
}

.developer-navigation {
  background: rgba(255,13,0,0.50);
  border: 1px solid #979797;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.stack-item-container {
  max-width: 600px;
  margin: auto;
}

.stack-item {
  min-height: 80px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: -1px;
  margin-bottom: -1px;
  position: relative;
  display: flex;
  align-items: center;

  border: $color-border solid 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: 0px 4px 2px 1px rgba(0, 0, 0, 0.2);

  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;

  &.mini-stack-item {
    min-height: 80px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    .nav-icon {
      top: 25px;
    }
  }

  .nav-icon {
    position: absolute;
    top: 25px;
    right: 20px;

    font-size: 24px;
    color: $primary-color;
  }

  .title {
    font-size: 20px;
    color: $primary-color;
  }

  &.selected {
    background-color: $primary-color;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

    .title {
      color: #FFF;
    }

    .nav-icon {
      color: #FFF;
    }
  }

  &.remove {
    background-color: $color-dark-red;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

    .title {
      color: #FFF;
    }

    .nav-icon {
      color: #FFF;
    }
  }

  &.checked .checkbox-icon {
    color: $color-nephritis;
  }

  &.unchecked .checkbox-icon {
    color: $color-carrot;
  }

}

.page-head {

  //background-color: $color-gray;

  .nav-icon {
    font-size: 25px;
    color: $primary-color;
  }

  h1,h2,h3 {
    display: inline-block;
  }
}
.centered {
  display: block;
  margin: 0 auto;
}

.left-side {
  float: left;
}

.right-side {
  float: right;
}

.expandable-tasks {
  .task {
    margin-bottom: 10px;

    .icon {
      display: inline-block;
      margin-right: 12px;

      color: $secondary-color;
      font-size: 20px;
    }
    .description {
      display: inline-block;

      color: $secondary-color;
      font-size: 18px;
    }
    .expanded-info {

    }
  }
}

.checkbox-stack-item {

  background-color: $color-light-gray;
  color: $primary-color;
  padding: 10px 20px;

  .unexpanded-content {
    position: relative;
    display: flex;
    align-items: center;
  }

  .expanded {

  }

  .title {
    font-size: 18px;
    margin-left: 20px;
  }

  .checkbox-icon {
    font-size: 24px;
  }

  .expand-icon {
    position: absolute;
    right: 10px;
    font-size: 24px;
  }

  &.checked {
    background-color: $primary-color;
    color: #FFFFFF;
  }

  &.checked .checkbox-icon {
    color: $color-nephritis;
  }

  &.unchecked .checkbox-icon {
    color: $color-carrot;
  }
}

.comment-container {

}

.comment-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-metadata {
  font-weight: bold;
}

.comment {
  padding-top: 10px;
  padding-left: 10px;
}

.search-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.sticker-container span {
  display: inline;
}

ul.sticker-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  li {
    display: inline-block;
    margin: 5px;
  }
  span {
    font-size: 14px;
  }
}