.footer {
  min-height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 40px;

  background-color: #2c3e50;
  color: #FFF;

  .footer-content {
    margin-top: 20px;

    text-align: center;

    a {
      color: #FFF;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

    }
  }
}