ul.options-dropdown {
  /* Chrome Reset */
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin-bottom: 0;
  max-height: 1000px;
  overflow: hidden;

  list-style: none;
  background-color: #bdc3c7;

  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  transition: max-height 0.4s;

  &.ng-hide {
    max-height: 0;
  }

  li {

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    cursor: pointer;
    color: $primary-color;

    &:first-child {
      margin-top: 0px;
      padding-top: 10px;
    }

    &:hover {
      color: #FFF;
      background-color: $primary-color;
    }
  }
}