<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Room List</h2>
            <p>Select a room to view.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="search-section">
                <input class="input-block" type="text" placeholder="Room number" ng-model="roomSearch">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="filter-navbar">
            <div class="main two-col-navbar highlight-filter-navbar">
                <filter-navigation-bar ng-model="filterTabs" callback="selectFilterTab"></filter-navigation-bar>
            </div>
            <div class="sub highlight-filter-subnavbar">
                <filter-navigation-bar ng-show="selectedTab.title=='Room Type'" ng-model="roomTypeList" callback="selectFilter" callback2="getRoomCount"></filter-navigation-bar>
                <filter-navigation-bar ng-show="selectedTab.title=='Vacancy Status'" ng-model="vacancyStatusList" callback="selectFilter" callback2="getRoomCount"></filter-navigation-bar>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2><span class="label label-primary">{{filteredRooms.length}}</span> Rooms Shown</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="filter-section">
            <ul class="sticker-container">
                <li ng-show="selectedFilters.length"
                    ng-click="resetFilters()"><span class="label label-warning">Reset Filters</span></li>
                <li ng-repeat="filter in selectedFilters" ng-click="selectFilter(filter)">
                    <span class="label label-default"><span>{{filter.title}} </span><i class="glyphicon glyphicon-remove-sign"></i></span></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="btn btn-primary" ng-click="selectAllRooms()">Select All</div>
        <div class="btn btn-secondary" ng-click="deselectAllRooms()">Deselect All</div>
    </div>
</div>

<div class="stack-item-container">
    <div ng-repeat="room in roomList | filter:{room_number: roomSearch} | filter:filterAllRooms as filteredRooms">
        <div class="stack-item clickable-section background-light-gray" ng-class="{'selected': room.clicked,
         'checked': room.clicked, 'unchecked': !room.clicked}" ng-click="selectRoom(room)">
            <span class="nav-icon checkbox-icon">
                <span class="glyphicon glyphicon-check" ng-if="room.clicked"></span>
                <span class="glyphicon glyphicon-unchecked" ng-if="!room.clicked"></span>
            </span>
            <div class="stack-content">
                <span class="title">Room {{room.room_number}}
                    <span ng-show="room.do_not_disturb" class="do-not-disturb-icon glyphicon glyphicon-ban-circle"></span>
                </span>
                <div class="sticker-container">
                    <span ng-show="room.assigned_to" class="label label-default">
                        <span class="glyphicon glyphicon-user"></span> {{room.assigned_maid_name}}</span>

                    <span ng-show="room.clean_type==='stayover'" class="label label-success">Stayover</span>
                    <span ng-show="room.clean_type==='checkout'" class="label label-warning">Checkout</span>

                    <span ng-show="room.vacancy_status==='vacant'" class="label label-info">Vacant</span>
                    <span ng-show="room.vacancy_status==='occupied'" class="label label-danger">Occupied</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container bottom-stick" ng-show="roomsSelected.length">
    <div class="row">
        <div class="button-nav">
            <ul>
                <li class="label label-success" ng-click="changeToStayover()">Stayover</li>
                <li class="label label-warning" ng-click="changeToCheckout()">Checkout</li>
                <li class="label label-info" ng-click="changeToVacant()">Vacant</li>
                <li class="label label-danger" ng-click="changeToDoNotDisturb()">Do Not Disturb</li>
                <li class="label label-dark" ng-click="resetRooms()">Reset</li>
            </ul>
        </div>
    </div>
</div>