<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Room Assignments
                <small>for {{maidName}}</small>
            </h2>
            <p>Select rooms to assign.</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Checkouts ({{numDirtyCheckout}})</h3>
        </div>
    </div>
</div>

<div class="stack-item-container">
    <div class="stack-item mini-stack-item background-light-gray clickable-section"
         ng-class="{'selected': clicked, 'checked': clicked, 'unchecked': !clicked}" ng-click="clicked = !clicked;selectRoom(room)"
         ng-repeat="room in roomList" ng-if="room.clean_type==='checkout'" ng-init="clicked = is_assigned(room)">
    <span class="nav-icon checkbox-icon">
        <span class="glyphicon glyphicon-check" ng-if="clicked"></span>
        <span class="glyphicon glyphicon-unchecked" ng-if="!clicked"></span>
    </span>
        <div class="stack-content">
            <span class="title">Room {{room.room_number}}</span>
            <span ng-show="room.do_not_disturb === true" class="do-not-disturb-icon"><span class="glyphicon glyphicon-ban-circle"></span></span>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Stay-overs ({{numDirtyStayover}})</h3>
        </div>
    </div>
</div>

<div class="stack-item-container">
    <div class="stack-item mini-stack-item background-light-gray border-bottom clickable-section"
         ng-class="{'selected': clicked}" ng-click="clicked = !clicked;selectRoom(room)"
         ng-repeat="room in roomList" ng-if="room.clean_type==='stayover'" ng-init="clicked = is_assigned(room)">
    <span class="nav-icon">
        <span class="glyphicon glyphicon-check" ng-if="clicked"></span>
        <span class="glyphicon glyphicon-unchecked" ng-if="!clicked"></span>
    </span>
        <div class="stack-content">
            <span class="title">Room {{room.room_number}}</span>
        </div>
    </div>
</div>

<!-- Please use standard buttons like below -->
<div class="container bottom-stick">
    <div class="row">
        <button class="btn btn-primary btn-block" ng-click="sendRoom()" ng-show="roomsSelected.length">
            Assign {{ initial_rooms.length }} {{initial_rooms.length==0? "rooms" : initial_rooms.length==1?
            "room" : "rooms"}}
        </button>
    </div>
</div>

