<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Rooms to Inspect</h2>
            <p>Tap a room to inspect.</p>
        </div>
    </div>
</div>

<div class="stack-item-container">
    <div ng-repeat="room in list | filter:{clean_type: 'checkout'}">
        <div class="stack-item clickable-section background-light-gray"
             ui-sref="view-room({roomId: room.$id})">
            <span class="nav-icon"><span class="glyphicon glyphicon-chevron-right"></span></span>
            <div class="stack-content">
                <span class="title">Room {{room.room_number}}</span>
                <div>
                    <span ng-if="room.clean_type === 'checkout'" class="label label-success">CHECKOUT</span>
                    <span ng-if="room.clean_type === 'stayover'" class="label label-danger">STAYOVER</span>
                </div>
            </div>
        </div>
    </div>
</div>