<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Oops!</h1>

            <div class="error-page-icon">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
            </div>

            <p>You do not have permission to see this page.</p>

            <button class="btn btn-primary btn-block" ng-click="redirectHome()">Go back to home</button>
        </div>
    </div>
</div>